body {
    background-color: #282828;
    color: #ffff;

}

.cabecalho {
    height: 90px;
    background-color: #0b0b0b1d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.404);
}

.cabecalho .logo {
    display: flex;
    gap: 15px;
}

.cabecalho .logo img {
    width: 70px;
    height: 70px;
}

h1 {
    color: crimson;
    font-family: 'ChaletComprime';
    font-size: 55px;
}

.cabecalho .menu {
    display: flex;
    gap: 15px;
}

.cabecalho .menu li a {
    padding: 30px;
    color: #e8e8e8;
    font-weight: bolder;
    font-size: 15px;
    font-family: 'Chalet';
}

.cabecalho .menu li a:hover{
    border-bottom: 2px solid crimson;
}

.home {
    display: flex;
    position: relative;
    min-height: calc(100vh - 80px);

}

.home::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.7) 35%, transparent 65%);
}

.home .imagem-fundo {
    width: 100%;
    object-fit: cover;
}

.home .informacoes {
    position: absolute;
    z-index: 1;
    min-height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
    padding: 80px 80px 80px 170px;
    max-width: 780px;
}

.home .informacoes img {
    max-width: 150px;
}

.home .informacoes .lista-de-plataformas {
    display: flex;
    gap: -25;
}

.home .informacoes .titulo {
    font-family: 'ChaletComprime';
    font-size: 55px;
}

.home .informacoes .texto {
    font-family: 'Chalet';
    font-size: 18px;
    line-height: 1.6;
}


.btn-assistir, .btn-plataforma {
    background-color: rgba(255, 255, 255, .1);
    color: white;
    border: 0.5px solid #fff;
    border-radius: 4px;
    font-family: 'ChaletComprime';
    font-size: 28px;
    text-align: center;
    padding: 20px 40px;
    text-transform: uppercase;
    width: 50%;
    transition: all .3s ease-in;
}

.btn-plataforma img {
    width: 40%;
    height: 40%;
}

.btn-plataforma {
    color: #FFF;
    width: 100%;
    cursor: pointer;
}

.btn-assistir:hover {
    background-color: rgba(220, 20, 60, 0.751);
    color: #FFF;
}

.assista-ja .capa-do-anime {
    width: 270px;
    border: 5px solid rgba(220, 20, 60, 0.496);
    border-radius: 30px;
}

.assista-ja {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 50px;
    align-items: center;
}

.informacoes h3 {
    color: rgba(220, 20, 60, 0.779);
}

.assista-ja .titulo {
    font-family: 'ChaletComprime';
    font-size: 70px;
    font-weight: 700;
    margin-bottom: 50px;
}

.assista-ja .cartao {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000;
    width: 50%;
    border-radius: 10px;
    padding: 80px;
    gap: 40px;
}

.assista-ja .informacoes {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.assista-ja .informacoes h3 {
    font-family: 'ChaletComprime';
    font-size: 52px;
    font-weight: 700;
}

.assista-ja .informacoes p{
    color: #e8e8e8;
    font-family: 'Chalet';
    font-size: 16px;
    line-height: 1.6;
}

.assista-ja .informacoes .plataformas{
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    justify-content: center;
}

.assista-ja .btn-plataforma .plataformas {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    transition: all .3s ease-in;
    display: none;
    opacity: 0;
}

.assista-ja .btn-plataforma .plataformas.ativo {
    display: flex;
    opacity: 1;
}

.assista-ja .btn-plataforma .plataformas li {
    padding: 20px;
}

.assista-ja  .btn-plataforma .plataformas li:nth-child(1){
    border: 1px solid #fff;
}

.assista-ja  .btn-plataforma .plataformas li:nth-child(1):hover{
    background-color: rgba(220, 20, 60, 0.872);
}
.assista-ja  .btn-plataforma .plataformas li:nth-child(2){
    border: 1px solid #fff;
}

.assista-ja  .btn-plataforma .plataformas li:nth-child(2):hover{
    background-color: rgba(220, 20, 60, 0.872);;
}

.assista-ja .btn-plataforma .plataformas li:nth-child(3) {
    border: 1px solid #fff;
}

.assista-ja .btn-plataforma .plataformas li:nth-child(3):hover {
    background-color: rgba(255, 166, 0, 0.87);
}

footer {
    text-align: center;
    height: 10px;
    height: 25px;
    background-color: rgba(220, 20, 73, 0.406);
    border: 1px solid #ffffffbc;
    font-family: 'Chalet';
}

